.holder{
    border: 3px solid blue;
    display: flex;
    margin: 10px;
    width: 700px;

}
.box{
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: blue;
}
#bottom{
    background-color: rgb(231, 112, 112);
}